In [ ]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=2607b87d8e5871b9e3b1e0472e29491de1e22d483686be4a58c2bbaaf04df8d8
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [ ]:
import numpy as np
import pandas as pd
from apyori import apriori

In [ ]:
data = pd.read_csv('bread basket.csv')
data

       Transaction           Item         date_time period_day weekday_weekend
0                1          Bread  30-10-2016 09:58    morning         weekend
1                2   Scandinavian  30-10-2016 10:05    morning         weekend
2                2   Scandinavian  30-10-2016 10:05    morning         weekend
3                3  Hot chocolate  30-10-2016 10:07    morning         weekend
4                3            Jam  30-10-2016 10:07    morning         weekend
...            ...            ...               ...        ...             ...
20502         9682         Coffee  09-04-2017 14:32  afternoon         weekend
20503         9682            Tea  09-04-2017 14:32  afternoon         weekend
20504         9683         Coffee  09-04-2017 14:57  afternoon         weekend
20505         9683         Pastry  09-04-2017 14:57  afternoon         weekend
20506         9684      Smoothies  09-04-2017 15:04  afternoon         weekend

[20507 rows x 5 columns]

In [ ]:
data.columns

Index(['Transaction', 'Item', 'date_time', 'period_day', 'weekday_weekend'], dtype='object')

In [ ]:
data.shape

(20507, 5)

In [ ]:
r = []
for i in range(len(data)):
  r.append([str(data.values[i, j]) for j in range(0, 5)])

In [ ]:
a_rules=apriori(r,min_support=0.2,min_confidence=0.2)
a_result=list(a_rules)

In [ ]:
print(len(a_result))

print(a_result)

8
[RelationRecord(items=frozenset({'Coffee'}), support=0.26678695079728876, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Coffee'}), confidence=0.26678695079728876, lift=1.0)]), RelationRecord(items=frozenset({'afternoon'}), support=0.5641488272297265, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'afternoon'}), confidence=0.5641488272297265, lift=1.0)]), RelationRecord(items=frozenset({'morning'}), support=0.4098112839518213, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'morning'}), confidence=0.4098112839518213, lift=1.0)]), RelationRecord(items=frozenset({'weekday'}), support=0.6245184571122055, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'weekday'}), confidence=0.6245184571122055, lift=1.0)]), RelationRecord(items=frozenset({'weekend'}), support=0.3754815428877944, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'weekend'}), confidence=0.3754815428877944, lift=1.0)]), RelationRecord(items=frozenset({'weekday', 'afternoon'}), support=0.3546593846003804, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'weekday', 'afternoon'}), confidence=0.3546593846003804, lift=1.0), OrderedStatistic(items_base=frozenset({'afternoon'}), items_add=frozenset({'weekday'}), confidence=0.6286628057740513, lift=1.006636070743224), OrderedStatistic(items_base=frozenset({'weekday'}), items_add=frozenset({'afternoon'}), confidence=0.5678925587569299, lift=1.0066360707432243)]), RelationRecord(items=frozenset({'weekend', 'afternoon'}), support=0.20948944262934607, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'weekend', 'afternoon'}), confidence=0.20948944262934607, lift=1.0), OrderedStatistic(items_base=frozenset({'afternoon'}), items_add=frozenset({'weekend'}), confidence=0.37133719422594863, lift=0.9889625768820167), OrderedStatistic(items_base=frozenset({'weekend'}), items_add=frozenset({'afternoon'}), confidence=0.5579220779220779, lift=0.9889625768820167)]), RelationRecord(items=frozenset({'morning', 'weekday'}), support=0.25230409128590237, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'morning', 'weekday'}), confidence=0.25230409128590237, lift=1.0), OrderedStatistic(items_base=frozenset({'morning'}), items_add=frozenset({'weekday'}), confidence=0.6156592099000476, lift=0.9858142748044255), OrderedStatistic(items_base=frozenset({'weekday'}), items_add=frozenset({'morning'}), confidence=0.4039978136956352, lift=0.9858142748044254)])]

In [ ]:
support=len(data.Item)/len(data)
support

1.0